<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Success</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Message Sent Successfully!</h1>
    <p>Thank you for contacting us. Your message has been successfully sent to the admin.</p>
    <!-- You can include additional information or instructions here if needed -->
    <a href="https://world-of-craft-frontend-f2bcd7b16534.herokuapp.com/" class="home-link">
        <button>Take me back to the home page</button>
    </a>
</body>
</html>
